.gfdt-nav-top {
  color: purple;
  width: 100%;
  background-color: lightblue;

  .gfdt-nav-top-left {
    display: inline-block;
    left: 0px;
  }

  .gfdt-nav-top-right {
    a {
      padding-left: 5px;
      padding-right: 5px;
    }
  }
}

.gfdt-nav-left {
  display: inline-grid;
  background-color: lightslategray;
  width: 175px;
  a {
      color: green
  }
}

.gfdt-main {
  background-color: lightgreen;
  display: inline-flex;
}

.gfdt-match-container {
  border-width: 1px;
  border-color: black;
  border-style: solid;
}

.gfdt-flex {
  display: flex;
}